html,body{width:100%;height: 100%;margin: 0; border:1px solid black;}
.day1{
    background-image: url(image/day1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day2{
    background-image: url(image/day2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day3{
    background-image: url(image/day3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day4{
    background-image: url(image/day4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day5{
    background-image: url(image/day5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day6{
    background-image: url(image/day6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.day7{
    background-image: url(image/day7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cloud{
    position: absolute;
    background-image: url(image/flog.png);
    background-size: 100% 100%;
    width:200%;
    height: 12em;
    top: 60%;
    left:-200%;
    -webkit-animation: cloudmove 8s infinite ease-in-out;
    animation: cloudmove 8s infinite ease-in-out;
    border: 1px solid red;
}
.cloudtop{
    position: absolute;
    background-image: url(image/flog.png);
    background-size: 100% 100%;
    width:200%;
    height: 12em;
    top: 65%;
    left:-250%;
    -webkit-animation: cloudmove 8s infinite ease-in-out;
    animation: cloudmove 8s infinite ease-in-out;
    border: 1px solid green;
}
/*@-webkit-keyframes cloudmove {
    0%,10% {
        opacity: 0.6;
        -webkit-transform: translate(40em,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(80em,0);
    }
}*/
/*@-webkit-keyframes cloudmovet {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(50em,0);
    }

    100% {
        opacity: 0.2;
        -webkit-transform: translate(30em,0);
   */ }
}
/*@keyframes cloudmove {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}*/