<!DOCTYPE html>
<html>
<head>
    <!--inline[../../../common/page/head.ejs]-->
    <title>第五天
    </title>
    <link rel="stylesheet" type="text/css" href="../../static/genisis/days.css?_inline">

</head>
<body style="overflow:hidden" scroll="no" class="day5">

    <!--inline[../../../common/page/foot.ejs]-->
    <script>

    </script>
</body>
</html>